{% load static  %}
<!DOCTYPE html>
<html lang="en">

{% include "navs/heads.html" %}

<style>
    table {
        table-layout: fixed;
    }
    
    td {
        white-space: normal !important;
        word-wrap: break-word;
    }
</style>

<body >
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
		{% include "navs/topnav.html" %}
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            {% if request.user.is_authenticated %}
          {% include "navs/sidenav.html" %}
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="home-tab">
                                <div class="d-sm-flex align-items-center justify-content-between border-bottom">


                                </div>
                                <div class="tab-content tab-content-basic">
                                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                                        <div class="col-12 grid-margin">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="card-title">Account</h4>

                                                    <section style="background-color: #ffffff;" id="sct_dsp">

                                                        <div class="row justify-content-center mb-3">
                                                            <div class="col-md-12 col-l-12">
                                                                <div class="card shadow-0 border rounded-3">
                                                                    <div class="card-body" id="addrsl">
                                                                        
                                                                        <div class="row">
                                                                            <div class="col-md-2">
                                                                                <button class="btn btn-warning btn-sm"  hx-get="{% url 'ledgers' %}"  hx-target="body">Ledgers</button>
                                                                            </div>  
                                                                            <div class="col-md-2">
                                                                                <button class="btn btn-warning btn-sm" hx-headers='{ "X-CSRFToken": "{{ csrf_token }}"} ' hx-get="{% url 'cartAccount' %}" hx-target="#areaadd">Invoice Cost</button>
                                                                            </div>                                                         
                                                                           
                                                                           
                                                                        </div>
                                                                        <div class="row" style="padding: 20px;" >
         
                                                                     </div>
                                                                        



                                                                        <div class="row" id="areaadd">
                                                                            <table class="table">
                                                                            <thead>
                                                                                <tr style="text-align: center;"> 
                                                                                <th >#</th>
                                                                                <th >date</th>
                                                                                <th >Patch</th>
                                                                                <th >Invoice</th>
                                                                                <th >Sub-Total</th>
                                                                                <th >Cost </th>
                                                                                <th >Variable Cost</th>
                                                                                <th >Fixed Cost</th>
                                                                                <th >Action</th>
                                                                                
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody id="filter">
                                                                                {% for i in cog %}
                                                                               <tr style="text-align: center;">
                                                                                <td >{{forloop.counter}}</td>
                                                                                <td >{{i.date|date:"d-M-y" }}</td>
                                                                                <td >{{i.patch}}</td>
                                                                                <td >{{i.invoice}}</td>  
                                                                                <td >{{i.revenue}}</td>  
                                                                                <td >{{i.cost}}</td>  
                                                                                <td >{{i.direct}}</td>  
                                                                                <td >{{i.indirect}}</td>  
                                                                                    <td><button class="btn btn-danger btn-sm" hx-headers='{ "X-CSRFToken": "{{ csrf_token }}"} ' hx-post="{% url 'invoices' %}" hx-vals='{"action":"delt","val":"{{i.id}}"}' hx-target="body">Remove</button></td>
                                                                               </tr> 
                                                                              
                                                                              {% endfor %}
                                                                               
                                                                            </tbody>
                                                                        </table></div>
                                                                        <div class="row">
                                                                            <div class="col-md-11">
                                                                  
                                                                                <nav aria-label="Page navigation example" >
                                                                                    
                                                                                <ul class="pagination" style=" flex-wrap: wrap">
                                                                                    {% if cog.has_previous  %}
                                                                                    <li class="page-item"><a class="page-link" href="?page={{ cog.previous_page_number }}">previous</a></li>
                                                                                    {% else %}
                                                                                
                                                                                <li class="page-item"><a class="page-link" href="?page=1" disabled>first</a></li>
                                                                                        
                                                                                                {% endif %}
                                                                                                {% for i in cog.paginator.page_range %}
                                                                                                {% if cog.number == i %}
                                                                                        <li class="page-item active">
                                                                                            <span class="page-link">
                                                                                                Page {{ cog.number }} of {{ cog.paginator.num_pages }}
                                                                                            </span>
                                                                                            </li>
                                                                                        {% endif %}
                                                                                            {% endfor %}
                                                                                            {% if cog.has_next %}
                                                                                        
                                                                                        <li class="page-item"><a class="page-link" href="?page={{ cog.next_page_number }}">Next</a></li>
                                                                                        {% else %}
                                                                                            <li class="page-item" disabled><a class="page-link" href="" disabled>Last</a></li>
                                                                                            {% endif %}
                                                                                    </ul>
                                                                                    
                                                                                    </nav>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </section>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- main-panel ends -->
                    </div>
                    <!-- page-body-wrapper ends -->
                </div>
                <!-- container-scroller -->

                <!-- plugins:js -->
            </div>
        </div>
        {% endif %}
       {% include "navs/scrpt.html" %}
    </div>
</body>

</html>